[Desktop Entry]
Type=Application
Name=Web Server
Icon=/opt/serverr/serverr.png
Exec=invoker --single-instance --type=e python /opt/serverr/bin/serverr.py
