Source: serverr
Section: user/network
Priority: extra
Maintainer: Thomas Perl <m@thp.io>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: http://thp.io/2012/serverr/

Package: serverr
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-pyside.qtgui, python-pyside.qtdeclarative
Description: Personal Web Server for MyDocs
 This applications runs a local web server that can
 be accessed via a web browser from nearby machines.
 The MyDocs folder is provided in a password protected
 way, so you can access your data on trusted networks.
XSBC-Maemo-Display-Name: Personal Web Server
XSBC-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAAFAAAABQCAYAAACOEfKtAAAAAXNSR0IArs4c6QAAAAZiS0dEAP8A
 /wD/oL2nkwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAAd0SU1FB9wCExUKNFDyoEEAAB0YSURBVHja
 7Z15mBxVvfc/51RV9+yZ7JN9spGNJUI2UExYvFdEBb0iAQWiyKKiD8+jAipLALkvLyIiArIIhjUs
 74UEQZa8QiLIjmTYEpZsk22ykdmnaznnvH9UdXV1T/fMZLmI73PP85xn0t3VXae+9Vu+v6VO4H/G
 Pg3xSZ3olcZzDwHqgelAbfSX6L36vfzZ9dEEWAk0R3/Xzx59S8O/LICvNJ7bD5gHzJPCmaONPyf7
 ma/aAE2gOwHQxsUYP+/72iiU6cp7zxLlSGHlL144SJEGwJYVgMSxqpOHLI8AXQ4snz36lpZPLYAf
 7Lh16O6uN+cDC4DpxvgEup1AZ1C6nUB3YtCfkFpJbFmBJauwZRm2rEIIJyuli5pa3CUnHPSnDZ8K
 AF9pPHuuFOlztXHnK+0R6FZ81YKv2z9VtsqRVThWP2xZgyVT+MoscSxx/ezRt634pwD48oaz5gIL
 gXmBbscNduIFrf8Shj9l15Cy+uNY/bJqvnDOmNtXfCIAvrjuzH6WKL9aG/fcQLfT4TWijfsv6UGl
 SFPujCBl9cNTapFjifOPGHtHy38bgM+vO/MQYInSXn2H1xg7gn/1YcsKKlOjsWRqPXDikWPvaNjv
 AK5Y850zgEWeaqHD3Ywh+P+Mz9lUpIaTtmsBFswd/6e79huAf/1owRkWLOryt9Hlb9u/Kzf76MeE
 2a/LKbMHUZEajoIFx0xYdNc+A/jcBwvOABa1eJsIgo/3yyIVYCLgbHQoy9FrY3KAmCKLFELEwNlA
 gIzeD4+29odK2wPolxoJsOCoA3oGsUcAn3n/tEOAlV3+jn2TvISUZbmg1iFYJqKGxV7nGXwZLViG
 IJZ8HQG6r9IZSmIdwPR/m3RPwx4D+PTqb/cDVnpBe327t36vF1IIhFYhSFnAtDIoZXCDnPQZnZC0
 wgVH+KQsgWWDZQmEBClEDKaQ3YHfm1GZGknarl0PTP/3yfcW9c526StPXe2Zjvq2TCP7YmWyUuUb
 g9QhgCqAjKdRyuDr8CLtCDAhBEKUBtDocDUZpTGZEFDLBtuWpGyQlkBHQDoStN57G9ue2YIor6xP
 ybIrgR/3WQKfeue82UbsfvnjzFrMHlIVlZC6rEQJZfACSItKJvU/hbqqQ6OTGxCSv62/jqmDvsyg
 6onIxJKMMejo9kkEQgieWnMBrt+Wk9ZIin1jSFkCJy0ocwTGErE0ShnaXCn33EYKWcGAsnF0+mre
 f0x/YEWfJNDn46v9oANfdey1ymYlTylD4BumDZjPYcPPJmVXhbTojf/CqcgwdsRkvjDhMgaUTyj4
 HUMQBBhjEEJgWRaLHv8lZlgb0hFgwt8WQiAtEAo8ZXA7NF2WoLxMYlkCGam6EKBUeIP3SK1VBx1+
 C2m7ZiFwVDcyXvjG0rfmz9Vaz2t3t6EjW9XXqYKcRAS+wc1o2jsU0/qfSZ19HI5VyWvvLOPOpVfy
 8MsXA7B7p0JlynPSpA1KaXzfRykVqTX88dGL2CGexklJnFDHsayctDoikjghUMrQ1h7Q1aHwPY3v
 hmtK2t89me3uVrTW85a+NX9u7xKo7XM93bxH0mcSUqeiRfqeZkDqUKCVQ4efGkvejGnH8v625Uye
 UcUz71yDm9Ecc/APOKb23FjqtNaAwbIsLMvmjiU/p6XsWUaMyQHtaIEfgRuKgsFWkE2MBRp8V2F7
 mlSZxFESK7KRErBMaCv7otLKeGT8FqSsOh9YUdIGPvbqRUMDZ01Ts7sZ1cfEQJAA0ZhQ8gLfcPTo
 hVSlh4UL6KrgziWX890TL2NM3eSQX677FR99/DhCCPoHRzBz9PcYNnBCLHW2bXPXny9m9dYnGDG2
 nBH1ZeHvJ+yeMYbAGHRkLuaOuYRJg4/HGPIc0XMf/oZ3di3GSSdVWvTiRfOHZddQmx5Bq6vqF8x5
 ZENRFXadNfM97eEGrQQROL1NE3tWje9phKrk38b+mslDjsfvKOOW+6/h6vtO5cBDxiNM6GEbt65i
 oD48phlHTvs2wwdNwBiDlDIGr6PiWeYcO4BR48tDybFyapqdthBgBEfVX8qkwccD0NGVf/MdPYTj
 xv8G/EoCT6P8xA3o43W6QSue9qhMWyeWVGGtxMlu0JYXDfTkbWWWy2lQkc37xoHX0T81nsVPX8+z
 DXcxdELAmFqbpubVDB4wAiEEdy/7Bdta3ufgI2oSEYbEsuC51+5l1fpXMf1fY+S4iiJ5PYOnQvpi
 IqdwVP2lTBz0JYwxdGba2LjtfaaOmxV/53OTTgOgtuI2Hn7nLLpMe2hLTc4EiD44Ftdvw7ZrFwC/
 6wbgfa9/vV9AcHhn0I6nTN8pS+QwfNfwxfGX0z81gV/eejJyyHrqpzuMHDiNU6f/kU27VnPBTccz
 ZdRsUsMbOWhqdehdyUYSkjuW/JyNXU8ztC5F3aiKmMsB+NHNwghsTGj/JIwoP5SJg74Uc8gNW1eX
 XO+gygP43KifsGzNZaHmOJEHl9HF9MppWuln106/7/Wv9/vWjEda8kLHr31v0heB+W3u1r45DROS
 2sA3eBnNZ4acypz67/DTG06kbPQG+g1yGD9wNqfPuBvbSlORqmbmtHmUDWijRTUgZaiCSMGDj97P
 A0/8jv6jtzBxaiXVtU5EXQSWEAgkwkRBoIBpg86krvJQmtrfxKgqRMdwQFBZXsOO3Zu59Jb5bN+1
 mVkHfqHb2odWT0IFgg3Nr+WT9oQ0lhQY7VNu12IMLz96++r38yTQGDPPCzrRfZQ+Y8KIwsto+tkH
 cOyknwFww0+e5MnV17Bm13Ox5w2zwFUMrp7A9q434+8LIbCMYda82ojP5V+B1GCkgUTybETlkdSV
 H0F5WT/e3fkAO3dtpNNu5bV3lzFkwEhefXsZ8w77D847+Zo8TpmlQ0IIPjf+HNbueo2mzOsgJJYJ
 z236IIVe0IljVc4DluYBGBgzPaM6erR/KhJZX4fRReAbujKa02dfkXfccZMv4IPtsxhde2i8eK1D
 o31Q3clsaf8HjS0rwpuAQBgT2jQTZmCyS/BDdhIBDpXWUGaO+AWvvv0Mnz3kaxw0+EyGjZ1Ov/SE
 WKIPm3JMXhgY2mgd3zApJVIKvnrgFdz+8jdx/Q7syJs6MneNpUZGdSFkxfRuNtBo5mW8TvxeCmc6
 sntaGTxP8/kx32dozaRux00cPJcgUHieF3lbiZSSzkwbGzY1Iqq7m4Vs1dLoHHIqIRW721r49aJz
 GD9mLKvXjWBq/Un4foDnuUhpkUo5EfimIJMjE86KyKEM59AR3+LFTbcAEhvwTCihPULgdVJmDZyX
 R2Pu/tv3JmujUNoLQ7AeptYarUPKInUVc+pPLarevh/g+35MjP/84k2c/ZvJnH/TTJqDD/LSVkHy
 e9kZ0aP4vMqgaaeq/gNM5Q4G1o5AKY1SKibgmYyL67q4rofn+Xiej1IaKUU8k9I5afBR+K4KqU2g
 e712YwyBzqCN4g/PH39ILIFdatcYIQ2B8nv1ulnVDXzDkaO+TVmqJg84AN8PYuCklFiWRd2YcqZa
 NdhRpkQJk0vXRaqLFjmdjVTYVgnC7gj6D3ZoanqDDm8rA8QwHMeJb+yWHRsYWFOXcAaCLred25Ze
 QkdnK0fP+gZfmH0SAGs3vceiJ37DQbNO4N3tjyFtGZoRq2cVVkqFYGLqgQYbQFnuHN/v6lV948xH
 xPkOH/utvM+CQBEEAUoppJT4KsMTK+5GSmjSL2CqTRz8aJ0zNjoitHYCRKNDeuEXqPlxE27EjBPU
 lk3AsiR/+8cjbN+1mRkHfoHa6sEse3UxX/rs6dE5NC80LGWn83fswfBIw5sI4NjZJ7Gu6T2G1Kf4
 8tQLWd30LBm3Aydaku7FHXf5XThW+XRgabjmQKaN0L0SaK0Myg/n9GEnkHaqY+OslMbzvFjqvKCL
 K+78Np1la7GAkRPLcZAEGuxIygKTA03LHIhGhbbKZAlz4sYOrvxM/O8NW1bx/PrrkOkOnl18Fxec
 ci8DBpezdksDU8fN4uW3nuKrc7/HoS2HxqorgpAZHDPjG2z+6ypueOAyJk49mrd3LMWKpFBavdGZ
 AEuq2liFjfQO9/zOHgGMQzZl8D3NlCFH43mhfGTVKOvlfJXh0ju+RfnoRgbUlmFHKffc7+ekMJAm
 BlFhQgGUOQ8XRCpsRWrc0dVGZXk1G7as4tqHTmPSTAG2zYQqzf++/1vYFZ20NAe07PCpG5um072K
 Y2Z9o+g1HTblsyzZeTvThp3Fm1uWYPkmjkh6ikwCncEx5dNzAOpcqr3kl4yBSAIdqphSNxfXdfM8
 net3sn7rau58/Eqc0Y1U1FhxvGlrgRXdWV8ZnKz6ahGDKISIMjqhBAaJi/CitS17dREnzv0RABec
 fit2FKo0ta5G2tfiq/I4vDTG8NiqS1j2ysMYY7j6Rw/mOZGpw45i6jfDFJ/1eiWu14GQYUrXQZSk
 NFoZjJWgMV6gh/pal4xmwkwL+AF4vmFS7ayYW4WGNaDL7eKXt51KZ+ojakc6VNTY4Q0RIT0JjIn9
 QxaoHNEVaExIdGXSYOev44CBx3PUjBC8McOn5H1W5dSRCdpzHhN4bu3NDBzh0F75NoPSk/IIfOE6
 xg6Yxfu7n8NXBtsSBNFaimHi6YCUMfU5HijMFF+5JVXYRNlfrUN3P7xmMpZlkUql4oVcs/hHWMPW
 Maw2HS/MJL4vhEBrkFn7p0VsC7MeV0ReN2v3kmBOGvgVjhp3SUkNqS4bxuFjzuqWHddoMII5o08t
 Ht5GYI7oN4X3dvwVrWRsx7M2uJs2Kh+tdQJAdOxhS+X8lDKYSIXf/rCB6+4ejeOEvOo7x1zGgHEe
 ba0WvjE4WZtmhaCI6MYEgNACJwEiGOyE5PkRXxIiF+BPHfwVjhp/yR6XFz4//py812s2vsu4kVPj
 1w0fvERVeQ3jR01j4pBZPLnKYCuDpcOstowyPt2rtCYKKSIirVSYmCxGHP0I2Cz/c33Dm1ue4YDZ
 5Yw7LJwt1od0eK35RfHk7+j8137B6yBBloutYeqQL++Xgv5dy67M46uHHHA4T778EH9veJoPN7+N
 5xs83+BHePilyHSUeY8lUJlccrG4/TOobPZXGaoHW6GBjRby94/+D+UVkrJKC0yYapJCIKKQLOtE
 kiQ56yhCz21iaQylL/y31cc8XV/HyMll3Uj/D7+xkJXvv0h11WRUoNFKoJVB2qEWBUXO70R45Lxw
 At1i9i8OpaIpHBhUPoKMaiPjt1HZ34qSAQatwxSRlCYvuigEUQkBxoQezxDZR/IMfRCpc7YWvM8t
 JdHvhteaO9dBE+aENvq5ZOgY8UFTOhqJVTgwhkCTB1JcxcoWxjXoIDzm4OHHctGxSxlWMzmn+jrb
 85JTU79AhbPnKVQJT+XUIklBslMZ+hSn9jaHVU/io43vJVJbIGUo7U+9+HBYiIq4btKsFE4/8EJa
 lwVQa02gfFRkt5Mz0MQ/lgXg7Dm/x6aMWaO+xqDyEXk2LwkidAcxuahitsWL3lcqN/0gwPeDKHmw
 9/PLUy/kyRcf5MPGd/Pef+ql/+LmZT8BEQlLxIkDTVFMVIRZngpLYcUVsaJ2UOfs4QsNz3DQuJnM
 GPFlXml8hN1dm/M4lYoSpaEaiLCtI6HCsfpqgYXpZueCbsRV0eW6WEIgbTv26kkqIoTsNaMMcM7X
 LuYPj1zO9ImHU1VRw4eN73HP369k+JQ0nR+DKS9esi2WF8gDMCsRpZxILp0DVz9yNsMqJvPrHz5A
 2qrOxbdahLwlAikLohBhrGsScW4WtCy1sSJjk4x942OUwfd9uqJOheQ6pZQ4jkN5uqxkP03hOPuE
 S3h0+Z20dbZi2TDtsLHs6NhMEJmKQAtsZXoM6fIA1Drs0QtKOBEdqbGK+vCGTUnjda7hZzfN54qz
 bottwfzpv6Lcyc+U/mPL4zz67iWgBX7kQJxsCkvnAwlgqfA+WOQ42PJ/PMLJRx6IUoogUCgVxJU8
 KSXGGFKpFHIPmjW/euQZeIGPRHDLK/9gR8fmPFPkG7BM8Q45KZxYhWW2ih/bqYKZRDv7VytDukri
 D13Dpbefzdxh53D6jN+SsitRRnPtDdcy88gZzDxyBq89tZkTp1weVdRynVpGU9QeBkmHE80POv/C
 HX++lFQqjWXJuGMhmSRVSqGM7tMMtCLjuXieR6BVSNFcE+c8S5ovnWu9C3QiFjbo0ipc4CAAlAfS
 NqQqJN7QNdz/0lX8/OthI+fWpq08+PAD8ff/+Kfb+e4ZL6ONYemqy0L1Nfl5Pichbdk0VrIfsKJG
 srnlaW58pJXh/SfGa0rawG8e+8MoGOyd8oSlBh8hBOu2fsDaTe+htAGRNFeQZU+iWDKBhBPJqmcp
 Ip0smyrCJiInuohUhWRwXf+4eLRl65YiHVuGg+u+hDaGhqbHsYCmzg/wVBvG5FQ7Vu/k+aMTl1dJ
 ms2LrNn4t6gVxuRJy0nmhyil+mQHs85y4/YPueLe79B/iovXDpYAHSUQRKLTrGg8nGcDlek5Fta5
 llkhIXBNnCAwxnDkmFNim1CM9GY/O3jocRw89DgA7m74Ppta3gQMRuV6+LwiXjkGt0pSNyGVczLC
 xBepokUWlkZLtRxvaPqQqxZ/l/5T3PiaZEWu/9okSH9hPGxEDisZqeSbUlihbhVMY3J/hSSenp9T
 +SDK0igd2pjuGVzdbR5bfz4jaqYzomY6gyom5JHnJGnFlCD3CeIdGMP6plVodNFzFc51W1dz1QPf
 icHz/AgMOyFtiWsvnAKJsMz6HJF2VIsyoWEsnCrBhRSgLYOxwe/MOZ9AKVzPC0OcEhJYOAdXjufU
 qTdy8qTfcfToH+c5jbwopAThjs1O9N71fzmLdZtXFz1X4bznuavpP9mLwfI6QuHIqm/2muNAomBq
 JF6g13dT4aRh3rTCYvOK3pu/Bh3ioT6jcH0XLxD4flBUAksVmZXW6IT5EJI+PcKTFHRjDP3HeSx9
 81rOq7u118L24IkObbtytszNgFOe067s+6Wa/JPmLqQxrnlJYsdu2u+kT+AB7GxIseLZF1BKkXFd
 Mp7bJwnMzg63jbueuqZ7mFeEPhRT42Q6rN9wu8dzKaXwo3JrVordtvBcMur2j1W3BIUxGoSxEJKV
 uYSqY1yjc1/saNqzzvbHHl/KZ2cezfCB9RwwcRL3PbA4H8BAF6VHAP/r3rMRIxspNxKL3lsrklqi
 EtIYCEOgTNFz5TLJKu9ZFGMM7c2aVIXMkz6VSAKXGn6gm3OF9Rb1Urrajr2t2sPskfux5KLLf8yZ
 p/yIuoGjmDlrNo4ddnZ3dLSz8u2GbvAppcPG70EbqKyUoVTJ0EMG0TGF3tgk2EA3NdYmzluWLkdq
 kvnPrmYdsjk7nCrRrhH0WCO3sS2Rk0BR4W0zJhXVLfRePb+W2Wlx0+9vDnsN732QyrIahBC88+7b
 /PLSC3r4ZgWjjvAZdUQQxnAJIlyyWyqRy8tKrEo0EpWSXGMMz7/1F95rfJ1UpaB1dxhRWY5AJDxw
 T+XdLHWzJTkvfM93P2oIn8mQsRfal3HVfeegjQkdRB+SoRtfdPI8ajGPW/T9RNiXtY3FaEsQBHi+
 z4qGP7P41Ssoq5Hs3q7BBpEWSBtMwgubHtJYRoSl2t/Pf6shrzvL13q5FNa8wPi5/rK9HLquMY4K
 tOnbPglaJbLQPTSz50Qhyiqb/IxzoQRqHXZMCCFY2fQUQw5I0d6s8btC6ZN2CJyVkD4lS0eEUlj4
 Wi/v3t5mzEoLe162Brwvo6ImFQPY13S8Je09P5EsiImR8Xmz5sh1XQKlcGyb/sNTbGsSNG/XpCpF
 LH2x6ururSTdTmksjDEriwG4XCDPL1Ub2ZNhSZtAKVQQdmn1qeMVe48fw1KAJBcTayQZL4NRYe5R
 K4UyCtu22bJ7HR81fsT2Jg9ZJrDTAlKEj4TJAqnu6Z6F6bPlef2BEXFcrgCE1afNSaZMncLyF55n
 +QvPM2VqfpeA54Ypl0AHuAW8sNT3UtIOYylpIywHu8gUlhMfg7RJFRybzapnXJeuri4830cKi12t
 W7ht2c/ZtHkXWAIrHUlfBJ6WYZVX9WD7stgoIwiKAfjQ2R+1BJ5+0RJOn+7+OReewcXPfIVf/OUr
 XHH9L/LAaFzbyrqd72BLG524pVOmTuHmW27h+ifP4rfPnsZp3z8pXwJlOKWwQmONnTelsOJjLBm9
 l5iBcnEsJ8oXWqTSDs2dTdz6fy9ip78DqwycSkGqQmKlQymUNn3OZFvCwRZi5UNnfxQ/+pqnNQee
 MKBaIL7Y1ezT+m7PQL6lHyeoaqHDbeXFdX9h4XnX8c4bq9m5YydVUzO88O6TVJbV0s8awvMvLI/B
 u+jmU/GrtuGpTl5543m2rwoVcNzny5DCKpiyYBZ8LvNnR1crWxp3cPD4z5JyHHa1beHGp3/Gzsx2
 nHKJXZ4Dz0pFj31JkWdTexopqwwDV7/3+O5XoEiu8HPn1Q2pO7Bi28drM2x4MNXjj6UHK0Z9M4OV
 Dj1omVXFJV+8h8vO/0+aD34Zr10TuIbhTIHNA7j9j3fy2wcuZHdFA9IStG1TvHFPe5wJPvaXtful
 9ut1ara+66MIaPF3E0gPKy3yJE/aYDkFTwX0Ap6FTdopZ1i/dP3vT1lV/FGvF25s2h54enFfPKK7
 w2LjQ2UoN7yTGdXOlU+dxuXX/wKnXOBUSJxyQeUwm4XXXMzVD52H238tjuPQsZ088LKOZ3/MdIVN
 2cgMHwdNBLaHU1kcvDy17UP3g23b2JIlSfDyvHD8RlrcKqU8pS81QnenzcaHyxl1UhdWOgTxV0+f
 jpUWpABpS3b5G/npnfNpbWkhZdsMqBjImicVgUfeky22TO0b9zSKzZt2smnDLgKjQqlLC+wyiZ0W
 eWqbty1AH8ATRiCFRWDM9d0+K/aFL/y0/s2NS5zpfV18alDA8K93INO5TEq2FVi5YcFGuQbvY4uu
 1/sTMtX8cdzFw/YKuF27W9je1My2rS0YoWLnYKUFlhM5iuhv2L4runHJXq/PSiOFtfyR7284qntU
 XGS0vm/fajvOH/p891sctj3mMPSEZmQqfLpIyNyCrbTB3W7hvzUQW8qii16/YRu1NTVUV6dJp9PF
 Jd51aWtzaW5tpb21k5aWNjxfheeoAMvJeVfLCYGT2WeEC71tH5uWJKHzqkhbC4unFYoZ4g2Vqxxn
 D0Wh1WHXEzYDj9+JTIXFdSt6mM/b6ZB5aTCOkN2rRlnqs34j6/SWvHIqQCot8NxcsjWeESipdC4Z
 kJU4EYFmOSJ3/F6AB2BbDsaY6+/97toVfQbQ3mP0otHm0Px0HbX/3oRMha29fotDx/KhWFglwQOQ
 VRKroBZtdBiSOnbObmWntHJAxY4h8TqrqnujsjEOwkEIsR7DwtKJrWLVL9vZe2ve5tD+5GjKD9uJ
 8SRdbwzCNlavj4bbNTKv/8YU2a4kC4aQ5ECSuWxyErjC/WP2FDxLWNlHxE589AeNLXsE4F5LYGwD
 HNyXRueYeh9+zqmQuWxxqb1eZA7IPHVOgLWvwCXtHrDg0e9vbOg5tVoUQJtPethpgdGi10RGHlgF
 2z+VAnxPwYt48IIlP9jU6+ZjRZG67rfXceEFF36iAFqOiB+LKEzh50mUEb23/e5lW3BObc2CpT/Y
 svfb3xlj+t133/3Ni+9f/ImAd8qpp3D/rvP37Uf2oZdamPAJq9BhiBMfO2/Lvm/AaIy5DEp7n/05
 7nvlGu5/7Vr6vMnvfmw8l8iss7geIxY+dt6W/74tQJPjqzcNm2uMWQjMC+spmn+lIZFZu7lcCLHw
 sR9u/WQ2oS0cX7mxbm7gmnOsFKfE/G0/7yq5v0a4b0204Y6US5Qx1//5vKZ/zjbIhWPmubVDhk5L
 n0K8EXeiPPlPAlQkyrMRcCuBRUP7p5fc8e3GT8dG3MXG8TcMibeCJ9wzf94nBabIr2kvJ7EV/BM/
 3v7p3Qq+D6AeYoSp5xP4zwiEEeuf+PH2Bv5nfPrH/wP5pNs0Q8XVLAAAAABJRU5ErkJggg==

